<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="charset" content="utf-8" />
        <link rel="stylesheet" href="/public/css/index.css" type="stylesheet" />
        <title>Clogs - View your containers logs in web</title>
    </head>
    <body>
        <div id="main">
            <div id="sidebar"></div>
            <div id="containers"></div>
        </div>
    </body>
    <script type="text/javascript" src="/public/js/index.js"></script>
</html>